.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

.products {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5rem 0;
}
