@import '../utils/devices';
@import '../utils/colors';

.container {
  min-height: 100vh;
  margin: 0 -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section.homeBanner {
    position: relative;
    background-size: cover;
    height: 540px;
    width: 100%;

    div {
      display: flex;
      height: 540px !important;
    }

    h1 {
      position: absolute;
      bottom: 50%;
      right: 50%;
      margin: 0;
      transform: translate(50%, 50%);
      z-index: 1;
      display: inline-flex;
      background: #ffffffd9;
      padding: 1em;
      font-size: 2em;
      width: 70%;
      text-align: center;

      @media ($tablet) {
        font-size: 3em;
        width: auto;
      }
    }
  }

  .order {
    display: flex;
    flex-direction: column-reverse;

    @media ($tablet) {
      flex-direction: column;
    }

    section.bestSeller {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 16px 0;

      h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
      }

      @media ($tablet) {
        padding: 32px 0;

        h2 {
          font-size: 32px;
          padding-bottom: 24px;
        }

        .cardContainer {
          display: flex;
          flex-direction: row;
        }
      }
    }

    section.intro {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 300px;
      width: 100%;
      background: $green;

      @media ($tablet) {
        height: 400px;
      }

      .leftContainer {
        display: none;
        @media ($tablet) {
          display: flex;
          position: relative;
          width: 50%;
          height: inherit;
        }
      }

      .rightText {
        width: 100%;
        color: white;
        text-align: justify;
        padding: 16px;
        font-size: 20px;

        @media ($tablet) {
          width: 50%;
          font-size: 24px;
          padding: 64px;
        }
      }
    }
  }
}
