@import '../utils/devices';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    padding: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    flex: 6;
    @media ($tablet) {
      padding: 60px 1rem 0;
    }
  }
}
